In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
df=pd.read_csv('/content/test.csv')
print(df.shape)
print(df.dtypes)
print(df.head())

(8764, 8)
vidid        object
views        object
likes        object
dislikes     object
comment      object
published    object
duration     object
category     object
dtype: object
       vidid    views likes dislikes comment   published  duration category
0   VID_1054   440238  6153      218    1377  2017-02-18   PT7M29S        B
1  VID_18629  1040132  8171      340    1047  2016-06-28   PT6M29S        F
2  VID_13967    28534    31       11       1  2014-03-10  PT37M54S        D
3  VID_19442  1316715  2284      250     274  2010-06-05   PT9M55S        G
4    VID_770  1893173  2519      225     116  2016-09-03    PT3M8S        B

In [ ]:
print(df[df['views']=='F'].index.values)

[1963]

In [ ]:
df=df[df.views!='F']
df=df[df.likes!='F']
df=df[df.dislikes!='F']
df=df[df.comment!='F']
df

,vidid,views,likes,dislikes,comment,published,duration,category
0,VID_1054,440238,6153,218,1377,2017-02-18,PT7M29S,B
1,VID_18629,1040132,8171,340,1047,2016-06-28,PT6M29S,F
2,VID_13967,28534,31,11,1,2014-03-10,PT37M54S,D
3,VID_19442,1316715,2284,250,274,2010-06-05,PT9M55S,G
4,VID_770,1893173,2519,225,116,2016-09-03,PT3M8S,B
...,...,...,...,...,...,...,...,...
8759,VID_2944,111205,471,14,101,2011-04-19,PT3M14S,C
8760,VID_8195,1074457,1024,195,65,2016-06-03,PT2H18M35S,D
8761,VID_18973,1891692,4606,1109,191,2016-06-26,PT7M14S,F
8762,VID_5849,714859,1639,151,382,2016-03-23,PT3M15S,D
8763,VID_8494,5297,12,1,0,2016-12-19,PT10M14S,D

In [ ]:
category={'A': 1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'H':8}
df["category"]=df["category"].map(category)
df.head()

       vidid    views likes dislikes comment   published  duration  category
0   VID_1054   440238  6153      218    1377  2017-02-18   PT7M29S         2
1  VID_18629  1040132  8171      340    1047  2016-06-28   PT6M29S         6
2  VID_13967    28534    31       11       1  2014-03-10  PT37M54S         4
3  VID_19442  1316715  2284      250     274  2010-06-05   PT9M55S         7
4    VID_770  1893173  2519      225     116  2016-09-03    PT3M8S         2

In [ ]:
df["views"] = pd.to_numeric(df["views"])
df["comment"] = pd.to_numeric(df["comment"])
df["likes"] = pd.to_numeric(df["likes"])
df["dislikes"] = pd.to_numeric(df["dislikes"])
column_vidid=df['vidid']
df

,vidid,views,likes,dislikes,comment,published,duration,category
0,VID_1054,440238,6153,218,1377,2017-02-18,PT7M29S,2
1,VID_18629,1040132,8171,340,1047,2016-06-28,PT6M29S,6
2,VID_13967,28534,31,11,1,2014-03-10,PT37M54S,4
3,VID_19442,1316715,2284,250,274,2010-06-05,PT9M55S,7
4,VID_770,1893173,2519,225,116,2016-09-03,PT3M8S,2
...,...,...,...,...,...,...,...,...
8759,VID_2944,111205,471,14,101,2011-04-19,PT3M14S,3
8760,VID_8195,1074457,1024,195,65,2016-06-03,PT2H18M35S,4
8761,VID_18973,1891692,4606,1109,191,2016-06-26,PT7M14S,6
8762,VID_5849,714859,1639,151,382,2016-03-23,PT3M15S,4
8763,VID_8494,5297,12,1,0,2016-12-19,PT10M14S,4

In [ ]:
print(df.dtypes)

vidid        object
views         int64
likes         int64
dislikes      int64
comment       int64
published    object
duration     object
category      int64
dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
df['published']=LabelEncoder().fit_transform(df['published'])
df.head()

       vidid    views  likes  dislikes  comment  published  duration  category
0   VID_1054   440238   6153       218     1377       2053   PT7M29S         2
1  VID_18629  1040132   8171       340     1047       1825   PT6M29S         6
2  VID_13967    28534     31        11        1       1009  PT37M54S         4
3  VID_19442  1316715   2284       250      274        116   PT9M55S         7
4    VID_770  1893173   2519       225      116       1892    PT3M8S         2

In [ ]:
# Convert Time_in_sec for duration
import datetime
import time
def checki(x):
  y = x[2:]
  h = ''
  m = ''
  s = ''
  mm = ''
  P = ['H','M','S']
  for i in y:
    if i not in P:
      mm+=i
    else:
      if(i=="H"):
        h = mm
        mm = ''
      elif(i == "M"):
        m = mm
        mm = ''
      else:
        s = mm
        mm = ''
  if(h==''):
    h = '00'
  if(m == ''):
    m = '00'
  if(s==''):
    s='00'
  bp = h+':'+m+':'+s
  return bp
train=pd.read_csv('/content/test.csv')
mp = pd.read_csv('/content/test.csv')["duration"]
time = mp.apply(checki)
def func_sec(time_string):
  h, m, s = time_string.split(':')
  return int(h) * 3600 + int(m) * 60 + int(s)
time1=time.apply(func_sec)
df["duration"]=time1
df.head()

       vidid    views  likes  dislikes  comment  published  duration  category
0   VID_1054   440238   6153       218     1377       2053       449         2
1  VID_18629  1040132   8171       340     1047       1825       389         6
2  VID_13967    28534     31        11        1       1009      2274         4
3  VID_19442  1316715   2284       250      274        116       595         7
4    VID_770  1893173   2519       225      116       1892       188         2

In [ ]:
data_train=pd.read_csv('/content/train.csv')
data_train=data_train[data_train.views!='F']
data_train=data_train[data_train.likes!='F']
data_train=data_train[data_train.dislikes!='F']
data_train=data_train[data_train.comment!='F']
category={'A': 1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'H':8}
data_train["category"]=data_train["category"].map(category)
data_train["views"] = pd.to_numeric(data_train["views"])
data_train["comment"] = pd.to_numeric(data_train["comment"])
data_train["likes"] = pd.to_numeric(data_train["likes"])
data_train["dislikes"] = pd.to_numeric(data_train["dislikes"])
column_vidid=data_train['vidid']
from sklearn.preprocessing import LabelEncoder
data_train['published']=LabelEncoder().fit_transform(data_train['published'])
import datetime
import time
def checki(x):
  y = x[2:]
  h = ''
  m = ''
  s = ''
  mm = ''
  P = ['H','M','S']
  for i in y:
    if i not in P:
      mm+=i
    else:
      if(i=="H"):
        h = mm
        mm = ''
      elif(i == "M"):
        m = mm
        mm = ''
      else:
        s = mm
        mm = ''
  if(h==''):
    h = '00'
  if(m == ''):
    m = '00'
  if(s==''):
    s='00'
  bp = h+':'+m+':'+s
  return bp
train=pd.read_csv('/content/train.csv')
mp = pd.read_csv('/content/train.csv')["duration"]
time = mp.apply(checki)
def func_sec(time_string):
  h, m, s = time_string.split(':')
  return int(h) * 3600 + int(m) * 60 + int(s)
time1=time.apply(func_sec)
data_train["duration"]=time1

In [ ]:

Y_train = pd.DataFrame(data = data_train.iloc[:, 1].values, columns = ['target'])

data_train=data_train.drop(["adview"],axis=1)
data_train=data_train.drop(["vidid"],axis=1)
X_train=data_train

df=df.drop(["vidid"],axis=1)
X_test=df
print(Y_train)

       target
0          40
1           2
2           1
3           6
4           1
...       ...
14632       2
14633       1
14634       4
14635       1
14636       1

[14637 rows x 1 columns]

In [ ]:
from sklearn.svm import SVR
supportvector_regressor = SVR()
supportvector_regressor.fit(X_train,Y_train)
Y_pred=supportvector_regressor.predict(X_test)
print(Y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[2.16727779 3.4385892  1.16513662 ... 4.48258957 2.79747546 1.1101265 ]

In [ ]:
import csv
with open('prediction.csv','w') as f:
  writer=csv.writer(f)
  writer.writerow(Y_pred)